<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<div class="container-fluid">



		<div class="row">
			<div class="pull-right">
			{{#link-to "manage"}} Manage People {{fa-icon "coffee"}} {{/link-to}}
			</div>
		</div>




		<div class="row">

			{{!stack title}}
			<div class="col-xs-12 center-block text-center">
				{{#if isEditing}}
					{{edit-title type="text" value=model.title focus-out="updateTitle" insert-newline="updateTitle"}}
				{{else}}
					<h4>{{model.title}}</h4>
					<a href="#" {{action "editTitle"}}>{{fa-icon "pencil"}}</a>
					<a href="#" {{action "deleteList"}}>{{fa-icon "remove"}}</a>
				{{/if}}
			</div>



			<div class="col-xs-12 text-center">
				{{!stack creator}}
				<p><small>by</small>
				<small>{{model.user.displayName}}</small></p>

				{{!custom url}}
				<ul class="url">
					<small>handstack.com/todos/custom-url</small>
				</ul>

				{{!helper images}}
				<img src={{session.user.imageThumbUrl}} height="50" width="50" class="img-circle">

				{{!helper count}}
				<span class="badge">14 hands</span>

			</div>


		</div>


		<br><br>


		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				{{outlet "todos"}}
			</div>
		</div>




</div>