<div class="row">
	<h2 id="title">HandStack</h2>
</div>

  <button {{action "loginFacebook"}} class="btn btn-default">
    {{fa-icon "facebook"}}
      Sign in with Facebook
  </button>

  <button {{action "loginTwitter"}} class="btn btn-default">
    {{fa-icon "twitter"}}
      Sign in with Twitter
  </button>

{{#if session.isAuthenticated}}
    <li {{action 'logout'}}><a>logout</a></li>
    
    <p class="navbar-text navbar-right avatar"><img src={{session.currentUser.facebook.cachedUserProfile.picture}} class="img-circle" /></p>
    <img src="https://graph.facebook.com/{facebookId}/picture?type=normal">
    
{{/if}}


{{outlet}}