{{!comments.hbs}}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<div class="container-fluid">

		<div class="row center-block form-inline">
			<div class="commenterImage">
				<img src={{session.user.imageThumbUrl}} height="80" width="80" class="img-circle">
			</div>
			<div class="commentText">
				{{input type="text" value=model.newComment action="createComment" placeholder="say something.."}}
			</div>
		</div>


		<div class="row">

			{{#each comment in model.comments}}
			<li>
				<div class="commenterImage">
					<img src={{session.user.imageThumbUrl}} height="80" width="80" class="img-circle">
				</div>
				<div class="commenterInfo">
					<p>my name{{comment.user}}<small>{{ago date}}</small></p>
				</div>
				<div class="commentText">
					<p class="bubble">{{comment.message}}</p>
				</div>
			</li>
			{{/each}}

		</div>

	</div>