<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<div class="container-fluid">


<div class="row">
		{{input type="text" value=newTodoTitle action="createTodo" placeholder="New Todo"}}
</div>

<div class="row">
	<!--div class="col-xs-12 col-xs-offset-5"-->
		<ul>
			{{#each todo in model.todos itemController="todo"}}
				<li>
					{{input type ="checkbox" checked=todo.isCompleted}}
					{{#if todo.isEditing}}
						{{edit-title type="text" value=todo.model.title focus-out="updateTitle" insert-newline="updateTitle"}}
					{{else}}
						{{todo.model.title}}
						<a href="#" {{action "editTitle"}}>{{fa-icon "pencil"}}</a>
						<a href="#" {{action "deleteTodo" todo.model.id}}>{{fa-icon "remove"}}</a>
					{{/if}}
				</li>
			{{/each}}
		</ul>
	<!--/div-->
</div>


</div>